.mainDiv{
 background-color: lightseagreen;
}
.navbar{
  background-color: black;
  height: 10vh;
  opacity: .9;
  
}
.landingImage{
  background-color: red;
  height: 150vh;
  overflow: hidden;
}
.secondLandingArea{
  display: inline-flex;
  width: 500px;
  height: 170px;
  margin: auto;
  position:relative;
  bottom: 700px;
  left:500px;
   
   
}
 .myVideo{
   height: 117.5vh;
   z-index: -1;
    

 }
 .videoDiv{
   height:117.5vh;
 }

 
.thirdLandingArea{
  background-color: gold;
  height: 60vh;

}
.landingFooter{
  background-color: lime;
  height: 125.7vh;
}

.navText{
  color: white;
}
.ss{
  background: rgba(255, 255, 255, 0.2);
  border:solid 1px grey;
  height:200px;
  width: 200px;
}
.pi{
   
  background: rgba(245, 248, 245, 0.2);
  border:solid 1px grey;
  height:200px;
  width: 200px;
}
.mm{
   
  background: rgba(252, 252, 252, 0.2);
  border:solid 1px grey;
  height:200px;
  width: 200px;
}