.mainDiv{
 background-color: lightseagreen;
}
.navbar{
  background-color: black;
  height: 10vh;
  opacity: .9;
  
}
.landingImage{
  background-color: red;
  height: 150vh;
  overflow: hidden;
}
.secondLandingArea{
  background-color:dodgerblue;
  width: 1000px;
  height: 600px;
  margin: auto;
}
 .myVideo{
   width: 100px;
   max-height: 100px;
   max-height:500px;

 }

 
.thirdLandingArea{
  background-color: gold;
  height: 60vh;

}
.landingFooter{
  background-color: lime;
  height: 60vh;
}