 
 
 
.myVideo{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.videoDiv{
  width: 100vw;
  height: 100vh;
  position:relative;
  
}
/* Father and Child make box centered */
.mainPageBoxDiv{
  border: solid 1px grey;
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(245, 248, 245, 0.25);
   
}

.landingContainer{
    
  background-color: aqua;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
 
 
 
 